* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: #f50057;
}

body {
  background: #ddcfcc;
}

#root {
  display: flex;
  justify-content: center;
}

.homepage-box {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 15rem;
  color: rgb(116, 55, 55);
  background-color: white;
  box-shadow: 0px 0px 1px brown;
  border-radius: 5px;
}

a {
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#loginbtn {
  width: 70%;
  color: black;
  background-color: white;
  border: 0.5px solid brown;
}

#registerbtn {
  width: 70%;
  color: white;
  margin-bottom: 0.4rem;
}