.register-box {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 30rem;
  background-color: white;
  box-shadow: 0px 0px 25px black;
  border-radius: 5px;
}

.userExists-div {
  width: 90%;
  color: red;
  font-size: 0.95rem;
  font-weight: 800;
  text-align: center;
}
